body {
    background: url("img/slash_it.png") repeat 0 0;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    color:#FFF;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.8em;
    text-align: center;
    margin:20px 0;
}

table.pronouns {
    width: 80%;
    margin: 0 10%;
    text-align: center;
}
table.pronouns td.head {
    padding: 1em 0 0.2em;
    font-weight: 700;
    background-color: rgba(0,0,0,0);
    border:0 none;
    vertical-align: bottom;
}
table.pronouns td {
    background-color: #222;
    border:1px solid #111;
    width: 11.1%;
    height: 4rem;
    vertical-align: middle;
    font-size: 1.1em;
}
td.hover, td.hover i {
    color: #F00;
}
table.pronouns .rank td {
    background-color: #333;
    font-weight: 100;
    font-size: 0.9em;
}